# Server config
NODE_ENV=""
PORT=""
ALLOW_DOMAINS=""

# DB config
MONGO_CONNECTION=""
MONGO_DEBUG=""

# JWT token config
JWT_ALGORITHM=""
EXPIRES_IN_DAYS=""
ISSUER=""
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# SMTP config
RESEND_API_KEY=""
SENDER_ADDRESS=""

# R2 config
R2_ACCESS_KEY=""
R2_SECRET_KEY=""
R2_ENDPOINT=""
R2_TOKEN=""
R2_BUCKET_DOCS=""

# GEMINI Config
GEMINI_API_KEY=""